<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <h1>Braten erfassen und bearbeiten</h1>

    <form method="POST" action="/angebot/liste">
        Anbieter: <br>
        <input type="text" name="name" th:value="${editAngebot} ? ${editAngebot.name} : 'Thorsten'"> <br>
        Abholort: <br>
        <input type="text" name="abholort" th:value="${editAngebot} ? ${editAngebot.abholort} : 'Zuhause'"> <br>
        Beschreibung: <br>
        <input type="text" name="beschreibung" th:value="${editAngebot} ? ${editAngebot.beschreibung} : 'Supi lecki'"> <br>
        Haltbar bis: <br>
        <input type="date" name="haltbarBis" th:value="${editAngebot} ? ${editAngebot.beschreibung} : '2020-06-01'"> <br><br>
        <input type="submit" value="ok"> <br>
    </form>

</body>
</html>
