<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <h1>Braten erfassen und bearbeiten</h1>

    <form method="POST" action="/angebot/neu" th:object="${formBraten}">
        Anbieter: <br>
        <input type="text" th:field="*{name}" th:errorclass="inputError">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name falsch</span>
        <br>

        Abholort: <br>
        <input type="text" th:field="*{abholort}" th:errorclass="inputError">
        <span th:if="${#fields.hasErrors('abholort')}" th:errors="*{abholort}">Abholort falsch</span>
        <br>

        Beschreibung: <br>
        <input type="text" th:field="*{beschreibung}" th:errorclass="inputError">
        <span th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}">Beschreibung falsch</span>
        <br>

        Veggie-Faktor: <br>
        <select th:field="*{veggieAuswahl}">
            <option th:each="vw: *{veggieWerte}"
                    th:value="${vw}"
                    th:text="${vw} + '%'" />
        </select>
        <br>

        Haltbar bis: <br>
        <input type="date" th:field="*{haltbarBis}" th:errorclass="inputError">
        <span th:if="${#fields.hasErrors('haltbarBis')}" th:errors="*{haltbarBis}">Datum falsch</span>
        <br><br>

        <input type="submit" value="ok"> <br>
    </form>

</body>
</html>
