<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body th:background="@{/img/bg.jpg}">

    <header th:insert="fragments/header.html :: header"> </header>

    <h1 class="centered" th:text="#{edit.headline}"></h1>

    <div class="innerContent">
        <form class="inputForm" method="POST" action="/braten/angebot/neu" th:object="${formBraten}" >

            <span th:text="#{edit.location}"/>: <br>
            <input type="text" th:field="*{abholort}" th:errorclass="inputError">
            <span th:if="${#fields.hasErrors('abholort')}" th:errors="*{abholort}" th:text="#{edit.wrong_location}"/>
            <br>

            <span th:text="#{edit.description}"/>: <br>
            <input type="text" th:field="*{beschreibung}" th:errorclass="inputError">
            <span th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}" th:text="#{edit.description}"/>
            <br>

            <span th:text="#{edit.veggie_factor}"/>: <br>
            <select th:field="*{veggieAuswahl}">
                <option th:each="vw: *{veggieWerte}"
                        th:value="${vw}"
                        th:text="${vw} + '%'" />
            </select>
            <br>

            <span th:text="#{edit.best_before}"/>: <br>
            <input type="date" th:field="*{haltbarBis}" th:errorclass="inputError">
            <span th:if="${#fields.hasErrors('haltbarBis')}" th:errors="*{haltbarBis}" th:text="#{edit.best_before_invalid}"/>
            <br><br>

            <button type="submit" th:text="#{edit.ok}"></button> <br>
        </form>
    </div>

</body>
</html>
