<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <header th:fragment="header">
        <link rel="stylesheet" th:href="@{/css/menustyles.css}">

        <div class="topnav">
            <a href="/braten/liste" th:text="#{header.list}">Liste</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a class="right" th:href="@{?lang=de}">🍺</a>
            <a class="right" th:href="@{?lang=en}">🍔</a>
            <a class="right" href="/login">Logout</a>
        </div>

    </header>
</html>