<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>

    <body>
        <div class="wrapper">
            <div class="inner">
                <h3>BSI-Rechner</h3>
                <form action="" method="POST" autocomplete="off">

                    <label class="form-group">
                        <input type="text" name="kgroesse" class="form-control" required>
                        <span for="">Körpergröße in cm</span>
                        <span class="border"></span>
                    </label>

                    <label class="form-group">
                        <input type="text" name="sgroesse" class="form-control" required>
                        <span for="">Schuhgröße</span>
                        <span class="border"></span>
                    </label>

                    <label class="form-group">
                        <input type="text" name="semzahl" class="form-control" required>
                        <span for="">Semesterzahl</span>
                        <span class="border"></span>
                    </label>

                    
                    <button type="submit">OK</button>                 
                   
                    <div th:if="${bsi}">
                        <p>Ihr BSI beträgt <span th:text="${bsi}"></span>.</p>
                    </div>
        
                </form>
            </div>
        </div>
        
    </body>
</html>
