<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>

    <body>
        <h2>Login</h2>
        <span th:text="${passwordHint}"></span>
        <form method="POST" action="/login">
            Name: <br>
            <input type="text" name="username"> <br>
            Passwort: <br>
            <input type="password" name="password"> <br><br>
            <input type="submit" value="ok">  <br>
        </form>      
        
    </body>
</html>
